*{
    margin: 0;
}
.background{
    background-image: url("error.png");
    background-color: black;
    background-size: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
}
